<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>

        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />

          <conditions logicalGrouping="MatchAll">

            <!-- Backend isteklerini React'e yönlendirme -->
            <add
              input="{REQUEST_URI}"
              pattern="^/backend(?:/|$)"
              negate="true" />

            <add
              input="{REQUEST_FILENAME}"
              matchType="IsFile"
              negate="true" />

            <add
              input="{REQUEST_FILENAME}"
              matchType="IsDirectory"
              negate="true" />

          </conditions>

          <action
            type="Rewrite"
            url="index.html" />

        </rule>

      </rules>
    </rewrite>

  </system.webServer>

  <system.web>
    <compilation
      tempDirectory="C:\websites\ozmenzimparamarket.com\tmp"
      defaultLanguage="c#" />
  </system.web>

</configuration>