# Node
**/node_modules/
**/dist/
**/.vite/

# .NET
**/bin/
**/obj/
**/publish/

# Visual Studio / IDE
**/.vs/
.vscode/
.idea/
*.suo
*.user
*.csproj.user

# Temporary / backup files
*.tmp
*.bak
*.Backup.*
*.backup

# Environment / secrets
.env
.env.*

# Logs
*.log

# Runtime uploaded files
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep