<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore"
					 path="*"
					 verb="*"
					 modules="AspNetCoreModuleV2"
					 resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\OzmenZimparaMarket.WebAPI.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">

				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT"
										 value="Production" />

					<environmentVariable name="ConnectionStrings__MySqlBaglantisi"
										 value="PRODUCTION_MYSQL_CONNECTION_STRING" />

					<environmentVariable name="Jwt__GizliAnahtar"
										 value="PRODUCTION_JWT_GIZLI_ANAHTARI" />

					<environmentVariable name="Jwt__Issuer"
										 value="OzmenZimparaMarket.WebAPI" />

					<environmentVariable name="Jwt__Audience"
										 value="OzmenZimparaMarket.Admin" />

					<environmentVariable name="Jwt__TokenSuresiDakika"
										 value="60" />

					<environmentVariable name="BaslangicAdmin__KullaniciAdi"
										 value="PRODUCTION_ADMIN_KULLANICI_ADI" />

					<environmentVariable name="BaslangicAdmin__Sifre"
										 value="PRODUCTION_ADMIN_SIFRESI" />

					<environmentVariable name="BaslangicAdmin__AdSoyad"
										 value="Sistem Yöneticisi" />

					<environmentVariable name="BaslangicAdmin__AktifMi"
										 value="true" />

					<environmentVariable name="Cors__AllowedOrigins__0"
										 value="https://ozmenzimparamarket.com" />

					<environmentVariable name="Cors__AllowedOrigins__1"
										 value="https://www.ozmenzimparamarket.com" />
				</environmentVariables>

			</aspNetCore>
		</system.webServer>
	</location>
</configuration>