<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="6291456" />
				</requestFiltering>
			</security>

			<handlers>
				<add
				  name="aspNetCore"
				  path="*"
				  verb="*"
				  modules="AspNetCoreModuleV2"
				  resourceType="Unspecified" />
			</handlers>

			<aspNetCore
	  processPath=".\OzmenZimparaMarket.WebAPI.exe"
	  stdoutLogEnabled="true"
	  stdoutLogFile=".\logs\stdout"
	  hostingModel="inprocess">

				<environmentVariables>

					<environmentVariable
					  name="ASPNETCORE_ENVIRONMENT"
					  value="Production" />

					<environmentVariable
					  name="ConnectionStrings__MySqlBaglantisi"
					  value="Server=localhost;Port=3306;Database=zimparadb;User=ozmenzimpara;Password=n~2Y8Xa^fhPlwre8;" />

					<environmentVariable
					  name="Jwt__GizliAnahtar"
					  value="kYafS0A2nwtfpQsiM78aegdOFt+pNIA5/6QrRbI+7gnuBnJceDfD310q0k4FhwRh+HVLxnEGK6DfINX49ce7EA==" />

					<environmentVariable
					  name="BaslangicAdmin__KullaniciAdi"
					  value="Admin" />

					<environmentVariable
					  name="BaslangicAdmin__Sifre"
					  value="Admin1234!!" />

				</environmentVariables>

			</aspNetCore>

		</system.webServer>
	</location>
</configuration>